
.m-5 img{
  width:220px;
  border-radius: 10px;
  margin: 0 auto;
  margin-left: 40px;
  margin-top:20px;
  margin-bottom: 30px;
}

.cards{
   margin: 0 auto; /* Added */
    float: none; /* Added */
        margin-left: 10px; /* Added */
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        background-color: white;
        border-radius: 10px;
        width: 500px auto;
        
}

.img1 img{
  margin: 0 auto;
  margin-top: -20px;
  margin-left:41px;
}

.text-white
{
   margin: 0 auto;
  margin-left: 23px;
}