body{
  font-family: Montserrat;
}

 @media (min-width: 1281px){
    .m-5 img{
    width: 323px;
    border-radius: 10px;
    margin: 0 auto;
    margin-left: 714px;
    margin-top: -93px;
    margin-bottom: 30px;
}

.cards{
   margin: 0 auto; /* Added */
    float: none; /* Added */
        margin-left: 600px; /* Added */
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        background-color:#3a3535;
        border-radius: 10px;
        width: 600px;
        color: white;
        
        
}

.img1 img{
  margin: 0 auto;
    margin-top: -121px;
    margin-left: 720px;
}

.text-white
{
   margin: 0 auto;
  margin-left: 23px;
}
.cap{
  margin-right: 30px;
}
}

 @media (max-width: 480px) { 
    .m-5 img{
    width: 273px;
    border-radius: 10px;
    margin: 0 auto;
    margin-left: 0px;
    margin-top: -93px;
    margin-bottom: 30px;
}

.cards{
   margin: 0 auto; /* Added */
    float: none; /* Added */
        margin-left: 10px; /* Added */
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        background-color:#3a3535;
        border-radius: 10px;
        width: 311px;
        color: white;
        
}

.img1 img{
  margin: 0 auto;
    margin-top: -121px;
    margin-left: 24px;
}

.text-white
{
   margin: 0 auto;
  margin-left: 23px;
}
.cap{
  margin-right: 30px;
}

.animation img {
  margin-top: -717px;
    width: 200px;
    margin-left: 30px;
}
        } 


         /* Media Query for Tablets Ipads portrait mode */ 
    @media (min-width: 768px) and (max-width: 1024px){ 
              .m-5 img{
    width: 273px;
    border-radius: 10px;
    margin: 0 auto;
    margin-left: 208px;
    margin-top: -93px;
    margin-bottom: 30px;
}

.cards{
   margin: 0 auto; /* Added */
    float: none; /* Added */
        margin-left: 103px; /* Added */
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        background-color:#3a3535;
        border-radius: 10px;
        width: 518px;
        color: white;
        
}

.img1 img{
  margin: 0 auto;
    margin-top: -121px;
    margin-left: 219px;
}

.text-white
{
   margin: 0 auto;
  margin-left: 23px;
}
.cap{
  margin-right: 30px;
}

.animation img {
  margin-top: -717px;
    width: 200px;
    margin-left: 30px;
}
        }